*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    background-color: darkolivegreen;
    color: whitesmoke;
    margin: 0;
    padding: 0;
}

#popup-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-width: 400px;
    margin: 0 auto;
    align-items: center;
}

#toggle {
    appearance: none;
    border: none;
    display: inline-block;
    padding: 15px 25px;
    margin: 10px auto;
    font-size: 1.5rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #aa0404;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

#toggle:hover {
    background-color: #8e3e3e
}

#toggle:active {
    background-color: #8e3e3e;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#syncCommands {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding: 16px 10px;
    margin: 0;
    justify-content: center;
    gap: 10px;
}

.syncButtons {
    display: inline-block;
    appearance: none;
    border: none;
    cursor: pointer;
    padding: 2px 5px;
    font-size: 0.9rem;
    text-align: center;
    outline: none;
    border-radius: 5px;
    background-color: rgb(224, 232, 233);
}

.syncButtons:hover,
.syncButtons:active {
    background-color: rgb(196, 206, 207);
}

#deleteSyncButton[data-really="true"] {
    color: #8e3e3e;
}

#overflowBehavior {
    width: fit-content;
}

#overflowBehaviorText {
    font-size: 0.9rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#syncNote {
    font-size: 0.8rem;
    text-align: center;
    max-width: 400px;
    margin: 0 3px;
    padding: 0;
}
